/* Estilos generales para el cuerpo de la p치gina */
body {
    margin: 0;
    overflow: hidden; /* Oculta las barras de desplazamiento si la mascota sale de la vista */
    height: 100vh;
    cursor: none; /* Opcional: Oculta el cursor real para que la mascota sea el 'cursor' */
}

/* Estilos de la Mascota */
#mascota {
    position: absolute; /* Es crucial para que pueda seguir la posici칩n del rat칩n */
    width: 40px;      /* Tama침o de la mascota */
    height: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    
    transition: transform 0.1s ease-out; 
    
    z-index: 1000; 
 
   transform: translate(-50%, -50%); 
}
